 .sidenav-container {
  height: 100vh;
  background-color: #1e3a8a;
  width: 200px;
}

.nav-list {
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.nav-item:hover{
  background-color: rgb(201, 235, 248);
}

.mat-mdc-list-item-icon {
  color: white;
}
.mat-mdc-list-item-title{
  font-size: 16px;
  color: white;
}
.active-link {
  background-color: rgba(0, 0, 0, 0.08);
  font-weight: 500;
}