.table-wrapper {
  padding: 24px;
  background: var(--cls-bg);
  min-height: 100vh;
}

.table-header {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table-header h2 {
  font-weight: 400;
  font-size: 2em;
  color: #1e293b;
}

.cls-table {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  background: var(--cls-table);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mat-mdc-header-row {
  background-color: var(--cls-primary);
}

.mat-mdc-header-cell {
  color: white;
  font-size: 14px;
}

.mat-mdc-row {
  transition: background 0.2s ease;
}

.mat-mdc-row:hover {
  background-color: #f1f5f9;
}

.status-badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.status-solved {
  background-color: #dcfce7;
  color: #166534;
}

.status-pending {
  background-color: #fee2e2;
  color: #991b1b;
}

mat-paginator {
  margin-top: 16px;
  background: var(--cls-table);
  border-radius: 0 0 12px 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-btn{
  background-color: var(--cls-primary);
  padding: 12px;
  border-radius: 4px;
  color: #dcfce7;
  font-weight: bold;
  border: none;
  height: 40px;
  cursor: pointer;
}

.add-btn:hover{
  background-color: var(--cls-primary-hover);
}

.edit-btn {
  background: none;
  border: none;
  color: var(--cls-primary);
  cursor: pointer;
}

/* .edit-btn:hover {
  background-color: rgba(69, 90, 100, 0.1);
} */

.delete-btn {
  background: none;
  border: none;
  color: #B23A48;
  cursor: pointer;
}

/* .delete-btn:hover {
  background-color: rgba(178, 58, 72, 0.1);
} */
