:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--cls-bg);
  overflow-y: auto;
}

.sidenav-container {
  flex: 1;
  background-color: var(--cls-bg);
}

.sidenav {
  width: 220px;
  background-color: var(--cls-bg);
}

mat-sidenav-content {
  background-color: var(--cls-bg);
  flex-direction: column;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  background-color: var(--cls-bg);
}

