@use '@angular/material' as mat;

html {
  height: 100%;

  @include mat.theme((
    color: (
      theme-type: light,

      // Single calm palette
      primary: mat.$blue-palette,
      secondary: mat.$blue-palette,
      tertiary: mat.$blue-palette,
    ),

    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;

  // Very soft background
  background-color: #F5F7FA;

  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

/* Toolbar override - darker tone */
:root {
  @include mat.toolbar-overrides((
    container-background-color: #455A64,
    container-text-color: white,
  ));
}

:root {
  --cls-primary: 	#275f96;
  --cls-primary-hover: #23578a;   /* Slightly darker */
  --cls-bg: #f1f1f1;
  --cls-table:#f6f8fa;
  --cls-hover: #F1F5F9;
}
